# Database
DATABASE_URL="postgresql://user:password@localhost:5432/database_name"

# Redis
REDIS_URL="redis://localhost:6379"

# Auth
BETTER_AUTH_SECRET="32-char-base64-secret"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Environment
NODE_ENV=production